$primary: #5963fc !default;
$secondary: #00f69b !default;
$background-dark: #1d223a !default;
$background-light: #2b2e51 !default;
$accent: #00f69b !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "accent": $accent,
    "background-dark": $background-dark,
    "background-light": $background-light,
  ),
  $theme-colors
);
