$primary: #5963fc;
$backgroud-dark: #1d223a;
$backgroud-light: #2b2e51;
$accent: #00f69b;

$theme-colors: ();

$theme-colors: map-merge(
  (
    "accent": $accent,
    "backgroud-dark": $backgroud-dark,
    "backgroud-light": $backgroud-light,
  ),
  $theme-colors
);
